@font-face {
  font-family: "iconfont"; /* Project id 3688642 */
  src: url('iconfont.woff2?t=1665110390781') format('woff2'),
       url('iconfont.woff?t=1665110390781') format('woff'),
       url('iconfont.ttf?t=1665110390781') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-rmb:before {
  content: "\e6b0";
}

.icon-shoppingb:before {
  content: "\e63c";
}

.icon-messagesquare:before {
  content: "\e60c";
}

.icon-goutongye_santiaogang_tiaozhuanxuanzehaizi:before {
  content: "\e638";
}

.icon-github:before {
  content: "\e607";
}

.icon-quanping:before {
  content: "\eb11";
}

.icon-visits:before {
  content: "\e6ce";
}

.icon-line-inputmethodshurufa:before {
  content: "\e6e6";
}

.icon-xiangxiajiantou:before {
  content: "\e65e";
}

.icon-debug:before {
  content: "\e606";
}

.icon-earth:before {
  content: "\e6e9";
}

.icon-information:before {
  content: "\e647";
}

.icon-biz-permission:before {
  content: "\e600";
}

.icon-clipboard:before {
  content: "\e601";
}

.icon-example:before {
  content: "\e604";
}

.icon-theme:before {
  content: "\e608";
}

.icon-form:before {
  content: "\e605";
}

.icon-component:before {
  content: "\e62a";
}

.icon-excel:before {
  content: "\e62c";
}

.icon-icon-test:before {
  content: "\e62b";
}

.icon-zip:before {
  content: "\e63f";
}

.icon-bar-chart-sharp:before {
  content: "\e80d";
}

.icon-documentation:before {
  content: "\e603";
}

.icon-shouyedashboard:before {
  content: "\e602";
}

